*.exe
*.dll
*.so
*.dylib
*.pyc
*.log
*.env
config.json
!configexamples/.env.example
!configexamples/config.example.json
.secrets
.key
.pem
*.pem
*.crt
*.pfx
*.p12
.DS_Store
/.vscode/
/.idea/
/.history/
.terraform/
*.tfstate*
*.tfvars
node_modules/
dist/
build/
target/
_build/
*.jar
*.war
*.ear
.cache/
*.iml
*.egg-info/
pip-wheel-metadata/
.gocache/
*.bak
*.tmp
*.swp
.ssh/